@tailwind base;
@tailwind components;
@tailwind utilities;

    body {
        margin: 0;
        user-select: none;
        color: #f9f9f9;
        font-family: system-ui, -apple-system, sans-serif;
        background: #101009;
    }

    

    nav {
        background: rgb(30, 30, 30, 0.3);

    }